html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body a, .cursor-pointer{
  cursor: pointer;
}


nav{
  border-bottom:0.3px solid var(--muted-color);
  margin-bottom:1em;
}
nav li{
  padding:0px;
}
nav li.logo{
  padding:0px;
  width:80px;
  height: 80px;
}

nav .title {
  padding-left: 1.4em;
  font-size: 1.4em;
}
nav .title a{
  color: var(--h6-color);
}

footer{
  margin-top:40px;
}

.text-center{
  text-align: center;
}

@-webkit-keyframes placeholderShimmer {
  0% {
    background-position: -120vmin 0;
  }
  
  100% {
    background-position: 100vmin 0; 
  }
}



.grid .shimmer {
  border-radius: 4px;
  width:100%;
  background-image: linear-gradient(to right, #f6f7f800  0%, var(--secondary-focus) 20%, var(--secondary-focus) 40%, #f6f7f800  100%);
  background-repeat: no-repeat;
  background-size: 120% 100%; 
  display: inline-block;
  position: relative;
  
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards; 
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-name: placeholderShimmer;
  -webkit-animation-timing-function: linear;
  margin-bottom:10px;
  }